@charset "UTF-8";

:root {
    --color-primary: #ACDDDE;
    --color-secondary: #504d41;
  
    --color-neutral: #f5f5f5;
  
    --color-menu-border: #5dcdd1;

    --ff-primary:;
    --ff-accent:;
    
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
a, ul, li { 
    text-decoration: none;
    list-style: none;
}
  
.bg-primary {
    background-color: var(--color-primary);
}
  
.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-plate {
    background-color: var(--color-secondary);
    border-radius: 25px;
    width: 95%;
    padding: 2rem;
}

body,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-accent);
    font-weight: 800;
}

body {
    font-family: var(--ff-primary);
    font-weight: 420;
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--color-neutral);
}

img {
    max-width: 100%;
}


section {
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}
section:not(:first-child) {
    margin: 3rem auto;
}

.flex-center {  /* Always Rows */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-responsive { /* Desktop: Rows | Mobile: Columns */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .flex-center-responsive {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}

.text-center {
    text-align: center;
}
